@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Outfit";
}
.clip-triangle {
  clip-path: polygon(13% 100%, 55% 0%, 0% 0%, 0% 100%);
  background: rgb(255, 255, 255);
  background: linear-gradient(
    191deg,
    rgba(255, 255, 255, 0.3323529240797881) 6%,
    rgba(0, 0, 0, 0) 100%
  );
}
